<h1 class="text-center">List of services</h1>
<div class="container">
    <div class="row">
      <div class="sm-col-4 sm-col-offset-4">
        <% @services.each do |service| %>
            <%= link_to service_path(service), class: 'product-card-link' do %>
              <div class="product">
                <img src="https://unsplash.it/100/80?random" atl="" class="product-image"></img>
                <div class="product-description">
                  <h3><%= service.name %></h3>
                  <p><%= service.description %></p>
                </div>
                <ul class="list-inline product-controls">
                  <li>
                  <h4>£<%= number_with_precision(service.daily_rate, precision: 2) %> per day</h4>
                  </li>
                </ul>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
</div>
