<h1><%= @service.name %></h1>
<p><%= link_to "Book me!", new_service_booking_path(@service), class: "btn btn-success" %></p>

<p><%= link_to "Back to services", services_path, class: "btn btn-info" %></p>

