<div class="container">
  <div class="row" id="nav-links">
    <div class="col-xs-12">
      <h2>
        <%= link_to 'Home', root_path %>
        >
        <u>My Bookings</u>
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <h1>Bookings</h1>
      <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" id="booking_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(booking.service.photos.first.path) %>');">
            <div class="card-category"><%= booking.service.name %></div>
              <%= link_to '', booking_path(booking), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
