<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/201/300/?random');">
          <div class="card-category">Vendor 1</div>
            <%= link_to 'Check out my work', '#', class: "card-link" %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/202/300/?random');">
          <div class="card-category">Vendor 2</div>
            <%= link_to 'Check out my work', '#', class: "card-link" %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/203/300/?random');">
          <div class="card-category">Vendor 3</div>
            <%= link_to 'Check out my work', '#', class: "card-link" %>
        </div>
    </div>
  </div>
</div>

