/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.flex-box-centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-box-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-box-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-box{
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}

.btn {
  margin-bottom: 20px;
}

textarea{
  resize: none;
}

#nav-links h2{
  font-size: 16px;
  color: $light-gray;
}

#nav-links a{
  color: $light-gray;
}

#nav-links a:hover{
  color: $brand-color;
}
