.product{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 15px;
  color: $gray;
}

.product-card-link:hover {
  text-decoration: none;
}


.product:hover{
  background: #E6E6E6;
}

.product-description{
  flex: 1 0 auto;
  padding: 0 10px;
}

.product-description h3{
  margin-top: 0;
}

.product-description p{
  margin-bottom: 0;
}

.product-upvotes{
  text-align: center;
  padding: 10px;
}

.product-controls h4{
  font-size: 17px;
}

.product-image{
  border-radius: 5%
}
