// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import "bootstrap-datepicker";
@import "swipebox";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "pages/service";




// Main styling
body {
  color: $gray;
  height: 100vh;
}

#content {
  min-height: calc(100vh - 70px - 110px);
}

#new_booking {
  margin: 20px 40px;
}

.form-inputs {
  margin: 20px 40px;
}

.simple_form {
  margin: 20px 40px;
}

#bookings_sevices_list {
  margin-top: 10px;
  margin-right: 1230px;
}

#service_services_list {
  margin-top: 10px;
  margin-right: 1230px;
}

#link {
  margin-left: 10px;
}

strong {
  font-size: 20px;
}

#booking_sevices_list {
  margin-top: 10px;
  margin-right: 1230px;
}

#vendor_service_services_list {
  margin-top: 10px;
  margin-right: 1230px;
}

#vendor_link {
  margin-left: 10px;
}

#vendor_booking_services_list {
  margin-top: 10px;
  margin-right: 1230px;
}

#vendor_booking_link {
  margin-left: 10px;
}
